*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
html{
    font-size:62.5%;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(0deg, rgb(73, 75, 74) 0%, rgb(169, 173, 172) 100%);
    background-repeat: no-repeat;
    height: 100vh;
    
}
header{
    display:flex;
    justify-content:center;
    align-items:center;
    width: 100%;
    height: 70px;
    margin-top:20px;
}
header h1{
    color:white;
    font-size: 2.8rem;
    letter-spacing:2px;
}
main{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
.form{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    margin:30px 10px;
    height:380px;
    width:300px;
    background-color: rgb(169, 173, 172);
    border-radius: 15px;
    box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.5);
    
}
.form p{
    font-size:2rem;
    font-weight:300;
    margin: 10px 0
}
.form input{
    margin:10px 0;
    border:none;
    border-radius:20px;
    text-align:center;
    height:40px;
    width: 180px;
    font-size:1.8rem;
    background:rgb(255, 255, 255);
    
}
.form input:invalid {
    animation: shake 300ms;
    color: red;
}
@keyframes shake {
    25% {transform: translateX(4px);}
    50% { transform: translateX(-4px);}
    75% {transform: translateX(4px);}
}
.form button{
    margin:20px  0;
    width: 100px;
    height:40px;
    outline:none;  
    text-align: center;  
    border:none;
    border-radius:40px;
    background: rgb(144, 141, 141);
    color:rgb(255, 255, 255);
    letter-spacing:1px;
    text-shadow:0;
    box-shadow: 0px 0px 12px -2px rgba(255, 255, 255, 0.9);
}
.form .IMB{
    text-align: start;
}

.writer{
    color:white;
    margin-bottom:30px;
}

footer{
    height:50px;
    text-align:center;
    font-size:1.9rem;
    margin: 10px 0;
   
}

footer span{
    color: rgb(255, 255, 255);
    font-weight:bold;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.7);
}